/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img{
    height: 80px;
    float: left;
}

body{
    width: 70%;
    margin: 0 auto;
}  

.title{
    font-size: 2rem;
    color: rgb(255, 0, 136);
    text-align: center;
    padding-top: 20px;
}

.article-font{
    padding: 40px 0px 70px 0px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.profiles{
    background-color: black;
    float: left;
    margin: 10px;
    width: 31%;
    height: 80px;
    color: white;
    
}

div > h1 {
    float: left;
    padding-left: 1rem;
    padding-top: 10px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16PX;
    font-weight: 800;
}


div > h3 {
    float: left;
    padding-top: 0.3rem;
    padding-left: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px
}

div > h6 {
    float: left;
    color: rgb(0, 189, 237);
    padding-top: 0.3rem;
    padding-left: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}